.forgot-input-container {
    display: flex;
    text-align: center;
    place-content: center;
    flex-direction: column;
    margin: 40px;
}

.enter-email-label {
    width: 100%;
    margin: 30px 0 30px 0;
}


.user-email-input {
    text-align: center;
    font-size: 17px;
    align-self: center;
    width: 250px;
}

.server-response {
    width: 100%;
    text-align-last: center;
    margin: 100px 0 100px 0;
}

.forgot-password-error {
    color: red;
    margin-top: 5px;
}