.genre-container {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.genre-header {
    margin-top: 20px;
}

.genre-list {
    list-style: none;
    margin-bottom: 30px;
    width: 80%;
}

.genre-item {
    float: left;
    margin: 10px;
}

.genre-link {
    text-decoration: none;
    color: white;
}

.genre-link:hover {
    text-decoration: underline;
    color: #0d6efd;
}

.active {
    color: #0d6efd;
    text-decoration: underline;
}

@media screen and (max-width: 960px) {
    .genre-header {
        display: none;
    }

    .genre-list {
        display: grid;
        justify-items: start;
        grid-template-columns: 100px 100px;
        justify-content: center;
    }
}