.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-image {
    object-fit: contain;
    max-height: 350px;
    border: solid 1px darkred;
    transition: transform 300ms;
    margin: 15px;
}

.movie-image-seen {
    object-fit: contain;
    max-height: 350px;
    border: solid 1px green;
    transition: transform 300ms;
    margin: 15px;
}

.movie-image:hover,
.movie-image-seen:hover {
    transform: scale(1.05, 1.05);
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    transition-property: transform, box-shadow;
}


@media screen and (max-width: 960px) {
    /*
    .home-container {
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 20px;
    }

     */

    .movie-image,
    .movie-image-seen {
        max-height: 200px;
    }
}