.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.page-link {
  position: relative;
  display: block;
  color: #ececec;
  text-decoration: none;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

li.page-item.active > a {
  background-color: #dee2e6;
  color: rgb(0, 0, 0);
}

.page-link:hover {
  background-color: #dee2e6;
  color: rgb(0, 0, 0);
}

.pagination {
  justify-content: center;
}

@media screen and (max-width: 405px) {
  .pagination {
    margin: 15%;
  }
}
