.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 1rem;
}

.page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

li.page-item.active>a {
    background-color: #0d6efd;
    color: white;
}

.page-link:hover {
    background-color: #0d6efd;
    color: white;
}

.pagination {
    justify-content: center;
}

@media screen and (max-width: 405px) {
    .pagination {
        flex-direction: column;
        width: 70%;
        margin: 15%;
    }
}