.login-link {
    margin-top: 15px;
    justify-content: center;
}

.username-input-error, .pass-input-error, .email-input-error {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -15px;
}

.input-register {
    margin-bottom: 10px;
}

.register-success {
    color: green;
    margin-top: 20px;
    width: 630px;
    margin-left: -130px;
}